{% load i18n %}{% autoescape off %}
Bonjour,

Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe de votre compte sur le système de Gestion des Charges Horaires.

Veuillez suivre ce lien pour définir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.username }}

Merci d'utiliser notre application !

L'équipe de Gestion des Charges Horaires
{% endautoescape %}
